.home {
  width: 100%;
  /* font-weight: bold; */
  /* background-color: rgb(194, 196, 196); */
}

.text-center {
  font-weight: bold;
}

.homePesquisa {
  width: 400px;
  align-items: center;
  /* background-color: rgb(194, 196, 196); */
}

.barra-pesuisa {
  width: 350px;
  /* background-color: rgb(194, 196, 196); */
  /* align-items: center; */
  /* display: block; */
}

.icon-busca {
  color: black;
}