/* .container {
  align-items: center;
  padding: 10px;
  margin: 10px;
} */

.btn-cadastro {
  margin-top: -30px;
  background-color: #614EA6;
  color: #fff;
}

.btn-cadastro:hover {
  background-color: red;
  color: #fff;
}