/* .container {
  align-items: center;
  padding: 10px;
  margin: 10px;
} */
.mapEventosDetalhes {
  height: 450px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.btn-cadastro {
  background-color: rgb(44, 168, 44);
  color: #fff;
}

.btn-cadastro:hover {
  background-color: red;
  color: #fff;
}